[user]
	name = Joe Betz
	email = jpbetz@google.com
[core]
	editor = emacs -nw
	excludesfile = ~/.gitignore
[alias]
        ls = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	ci = commit
	ca = commit --amend --no-edit
	st = status
	stat = status
	br = branch
	revert = checkout --
	amx = commit --amend
	ama = commit --amend -a
	fup = fetch origin
	count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"
